.wrapper{
    margin: 0 auto;
    width: 600px;
    height: 600px;
    border: 1px solid grey;
    border-radius: 5px;
    .item{
        margin: 0 auto;
        width: 500px;
        height: 350px;
        background-image: url('https://img.freepik.com/free-vector/vector-ripe-yellow-banana-bunch-isolated-white-background_1284-45456.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .button-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        .amount{
            color: black;
            font-size: 30px;
            font-weight: 500;
            margin: 5px;
        }
        button{
            width: 50px;
            height: 50px;
            background-color:aquamarine;
            color: black;
            font-size: 30px;
            border-color: aquamarine;
            border-radius: 5px ;
            margin: 3px;
        }

    }
    .warning{
        color: red;
        font-weight: 700;
    }

}